<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.houseprice.project.mappers.question.questionMapper">

    <insert id="qcreate">
        INSERT INTO H_QUESTION 
        	VALUES (
            SEQ_H_QUESTION_CNO.nextval
            , #{ctitle}
            , #{ccontent}
            , sysdate
            , 0
            , #{mid}
        )
    </insert>

    <select id="qread" resultType="QuestionVO">
        SELECT 
        	* 
        FROM 
        	H_QUESTION 
        WHERE 
        	cno = #{cno}
    </select>

    <update id="qupdate">
        UPDATE H_QUESTION SET
			ctitle = #{ctitle},
			ccontent = #{ccontent},
			cregdate = sysdate
		WHERE
			cno = #{cno}
			and mid = #{mid}
    </update>

    <select id="qlistAll" resultType="QuestionVO">
        <![CDATA[
        SELECT * FROM 
		(SELECT ROWNUM RNUM, Q.* FROM 
		(SELECT * FROM
		(SELECT Q.*, NVL2(A.ANO,'답변','미답변') ANSWERED 
		FROM H_QUESTION Q LEFT OUTER JOIN H_ANSWER A ON Q.cno = A.cno) Q
		ORDER BY q.CREGDATE DESC, Q.CNO DESC) Q
		WHERE ROWNUM <= #{perPageNum}) Q
		WHERE Q.RNUM >= #{pageStart}
        ]]>
    </select>
    
    <select id="countArticles" resultType="int">
    <![CDATA[
    	SELECT
       	 COUNT(*)
    	FROM H_QUESTION
    ]]>
</select>
    
</mapper>
