<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.houseprice.project.mappers.register.registerMapper">

    <insert id="insert">
        INSERT INTO h_member (
              mid
            , mpw
            , mname
            , mphone
            ,mdate
            ,mproyn
            ,ano
        ) VALUES (
              #{mid}
            , #{mpw}
            , #{mname}
            , #{mphone}
            ,sysdate
            ,#{mproyn}
            ,#{ano}
        )
    </insert>
    
    <update id="update">
    	UPDATE H_MEMBER SET 
    	 mpw=#{mpw},
    	  mname=#{mname},
    	   mphone=#{mphone}
    	   WHERE mid=#{mid}
    	    
    </update>
    <select id="findByid" resultType="MemberVO">
    	SELECT * FROM H_MEMBER WHERE mid=#{mid}
    </select>
    <select id="selectall">
    	SELECT * FROM H_MEMBER;
    </select>
</mapper>
