<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.houseprice.project.register.model.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.houseprice.project.question.model.QuestionVO" alias="QuestionVO"/>
		<typeAlias type="com.houseprice.project.admin.member.model.AdminMemberVO" alias="AdminMemberVO"/>
		<typeAlias type="com.houseprice.project.answer.model.AnswerVO" alias="AnswerVO"/>
		<typeAlias alias="BlogVO" type="com.houseprice.project.blog.model.BlogVO"/>
		<typeAlias alias="UploadFile" type="com.houseprice.project.blog.model.UploadFile"/>
	</typeAliases>
</configuration>

