<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.houseprice.project.mappers.admin.answerMapper">

	<select id="qlistAll" resultType="AnswerVO">
        <![CDATA[
        SELECT * FROM 
		(SELECT ROWNUM RNUM, Q.* FROM 
		(SELECT * FROM
		(SELECT Q.*
		FROM H_Answer Q LEFT OUTER JOIN h_question A ON Q.cno = A.cno) Q
		ORDER BY q.aREGDATE DESC, Q.aNO DESC) Q
		WHERE ROWNUM <= ${last}) Q
		WHERE Q.RNUM >= ${start}
        ]]>
	</select>
	<select id="qsearchlistAll" resultType="AnswerVO">
        <![CDATA[
        SELECT * FROM 
		(SELECT ROWNUM RNUM, Q.* FROM 
		(SELECT * FROM
		(SELECT Q.*
		FROM H_Answer Q LEFT OUTER JOIN h_question A ON Q.cno = A.cno
		]]>
		<include refid="search"></include>
		<![CDATA[
		) Q
		ORDER BY q.aREGDATE DESC, Q.aNO DESC) Q
		WHERE ROWNUM <= ${last}) Q
		WHERE Q.RNUM >= ${start}
        ]]>
	</select>

	<select id="countArticles" resultType="int">
    <![CDATA[
    	SELECT
       	 COUNT(*)
    	FROM H_ANSWER
    ]]>
	</select>

	<select id="countArticles2" resultType="int">
    <![CDATA[
    	SELECT
       	 COUNT(*)
    	FROM H_ANSWER
    ]]>
		<include refid="search2"></include>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				WHERE atitle like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				WHERE acontent like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'w'.toString()">
				WHERE Q.mid like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>
	<sql id="search2">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				WHERE atitle like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				WHERE acontent like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'w'.toString()">
				WHERE mid like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>
	<delete id="qdelete2">
		DELETE FROM h_answer WHERE cno= #{cno}
	</delete>
</mapper>