<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.houseprice.project.mappers.admin.memberMapper">

	<!-- 회원 조회 -->
	<select id="selectList" resultType="AdminMemberVO">
	<![CDATA[
	SELECT * FROM
	(SELECT ROWNUM  RNUM, M.* FROM
	(SELECT * FROM h_member hm INNER JOIN h_auth an ON hm.ano = an.ano WHERE hm.mproyn='Y' AND (hm.ano=2 OR hm.ano=3)  ORDER BY hm.mdate DESC, hm.mid ASC) M
	WHERE ROWNUM <= #{last}) M
	WHERE M.RNUM >= #{start}
	]]> 
	</select>
	<update id="expertUpdate">
		UPDATE H_MEMBER SET
		ANO = 2
		WHERE
		MID = #{mid}
	</update>
	<update id="userUpdate">
		UPDATE H_MEMBER SET
		ANO = 3
		WHERE
		MID = #{mid}
	</update>
	
	<select id="findBymid" parameterType="AdminMemberVO" resultType="AdminMemberVO">
		SELECT * FROM H_MEMBER WHERE 1=1
		<if test="mid!=null and !mid.equals('')">
		AND mid like '%'||#{mid}||'%' 
		</if>	
	</select>
	
	 <select id="countArticles" resultType="int">
    <![CDATA[
    	SELECT
       	 COUNT(*)
    	FROM H_MEMBER WHERE mproyn='Y' AND (ano=2 OR ano=3)  
    ]]>
	</select>
	
	 <select id="countArticles2" resultType="int">
    <![CDATA[
    	SELECT
       	 COUNT(*)
    	FROM H_MEMBER WHERE mproyn='Y' AND (ano=2 OR ano=3) AND mid like '%'||#{mid}||'%' 
    ]]>
	</select>
</mapper>
